In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from mlxtend.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import LinearRegression

In [6]:
df = pd.read_csv('dataProcessed')

In [9]:
df.head()

,Unnamed: 0,Rent,Deposit,Meterage,FloorNum_2,FloorNum_3,FloorNum_4,FloorNum_5,District_2,District_3,District_4,District_5,NoB_2,NoB_3,NoB_4,Elevator_1,DoB_1400s,DoB_Before 1390,Balcony_1,nRent
0,0,0.347826,0.101266,0.346154,1,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0.449092
1,1,0.101449,0.037975,0.134615,1,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0.139424
2,2,0.028986,0.088608,0.153846,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0.117593
3,3,0.072464,0.025316,0.230769,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0.097780
4,4,0.094203,0.068354,0.292308,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0.162557

In [10]:
df = df.drop('Unnamed: 0' , axis = 1)

In [11]:
df.head()

,Rent,Deposit,Meterage,FloorNum_2,FloorNum_3,FloorNum_4,FloorNum_5,District_2,District_3,District_4,District_5,NoB_2,NoB_3,NoB_4,Elevator_1,DoB_1400s,DoB_Before 1390,Balcony_1,nRent
0,0.347826,0.101266,0.346154,1,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0.449092
1,0.101449,0.037975,0.134615,1,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0.139424
2,0.028986,0.088608,0.153846,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0.117593
3,0.072464,0.025316,0.230769,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0.097780
4,0.094203,0.068354,0.292308,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0.162557

In [13]:
X = df.drop(['nRent','Rent','Deposit'] , axis=1)
y = df['nRent']

In [2]:
pip install mlxtend

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/mlxtend/
Collecting mlxtend
  Downloading mlxtend-0.23.4-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from mlxtend) (2.1.4)
Collecting scikit-learn>=1.3.1 (from mlxtend)
  Downloading scikit_learn-1.6.1-cp311-cp311-macosx_12_0_arm64.whl.metadata (31 kB)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Collecting threadpoolctl>=3.1.0 (from scikit-learn>=1.3.1->mlxtend)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: six>=1.5 in /Users/pouniq/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.4-py3-none-any.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 90.8 kB/s eta 0:00:00a 0:00:01
Downloading scikit_learn-1.6.1-cp311-cp311-macosx_12_0_arm64.whl (11.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.1/11.1 MB 164.0 kB/s eta 0:00:0000:0100:07
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scikit-learn, mlxtend
  Attempting uninstall: threadpoolctl
    Found existing installation: threadpoolctl 2.2.0
    Uninstalling threadpoolctl-2.2.0:
      Successfully uninstalled threadpoolctl-2.2.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.2.2
    Uninstalling scikit-learn-1.2.2:
      Successfully uninstalled scikit-learn-1.2.2
Successfully installed mlxtend-0.23.4 scikit-learn-1.6.1 threadpoolctl-3.6.0

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [19]:
model = LinearRegression()

sfs = SequentialFeatureSelector(model, 
                                k_features='best',  # tedad featurehayy ke mikhaim entekhab konim , ageh ro best bzarim khodesh e
                                # entekhab mikoneh
                                forward=True, # ageh True bashe forewardeh ageh False basheh Backward
                                floating=False, # ageh True bashe yek jor stepwise ro anjam mideh
                                scoring='neg_mean_squared_error', # az manfi MSE estefadeh mikone
                                cv=5) 

                                # bray inkeh az overfitting jologiri konim az cross validation estefadeh mikonim
                                # cross validation miad data maro be 5 fold mokhtalaf taghsim mikoneh va 4 tay on ro train mikoneh 
                                # va yeki az on fold haro bray testing be kar migireh va inkaro ta akhar anjam mideh va bhtrin 
                                # natijeh ro byan mikoneh ba variationhay mokhtalef
sfs.fit(X, y)
print('Selected features:', sfs.k_feature_idx_)

Selected features: (0, 4, 5, 14)

In [16]:
len(X.columns)

16